extends layout.pug 

block vars
  - var title = 'demo-step-4'

block title
        | Step 4
block content

        ul
          li
             | Implement#{' '}
             span.emp UpdateTask#{' '}
             | action that will be dispatched when e.g. moving a task#{' '}
          li Handle updating a task in the reducer, use task#{' '}
             span.emp id
             |#{' '}field to find proper one
          li Test the reducer
          li Dispatch the update action on task move#{' '}
             span.emp TaskBoardComponent
